.row {
  display: flex;
}

.row>div {
  font-size: 2em;
  background-color: lightcoral;
  flex: 1;
  border-radius: 5px;
  padding: .2em;
  color: white;
  margin: .1em;
}

.row1>div {
  font-size: 2em;
  background-color: lightcoral;
  flex: 1;
  border-radius: 5px;
  padding: .2em;
  color: white;
  margin: .1em;
}