/* Colors */

.indian-red {
  background-color: #cd5c5c;
}

.light-coral {
  background-color: #f08080;
}

.salmon {
  background-color: #fa8072;
}

.dark-salmon {
  background-color: #e9967a;
}

.light-salmon {
  background-color: #ffa07a;
}

body {
  background-color: #fff;
  color: #333;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 1em;
  margin: 0;
}

.parent {
  width: 400px;
  height: 300px;
  border-radius: 0.5em;
  border: 2px solid #f08080;
  display: flex;
  justify-content: center;
}

.child {
  width: 150px;
  padding: 0.5em;
  text-align: center;
  color: #fff;
  border-radius: 0.2em;
  align-self: center;
}