* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  border: 1px solid black;
  margin-right: 60%;
}

.container1 {
  display: flex;
}

.img1 img {
  height: 50px;
  width: 50px;
}

.img1 {
  padding: 20px;
}


.container2 {
  display: flex;
  padding-left: 5.5em;
}

.img2 img {
  height: 50px;
  width: 50px;
}

.img2 {
  padding: 20px;
}