* {
  box-sizing: border-box;
}

.red {
  background-color: orangered;
  display: flex;
  flex-direction: column;
}

.green {
  background-color: yellowgreen;
}

.blue {
  background-color: steelblue;
}

.container {
  display: flex;
}

.container div {
  flex: 1;
  color: white;
  padding: .5em;
  font-size: 5vw;
}